.card{
  &__container{
    display: grid;
    gap: 2rem;
    border: 1px solid $color-gris;
    height: 100%;
  }
  &__body{
    display: flex;
    flex-direction: column;
  }

  &__header{
    color: $color-azul;
  }

  &__description{

  }

  &__actions{
    display: flex;
    margin-top: auto;
  }

  &__button{
    background-color: $color-azul;
    color: $color-blanco;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    padding: 1rem;
    &-disabled{
      width: 100%;
      background-color: $color-gris;
      padding: 1rem;
      display: flex;
      justify-content: center;
      cursor: not-allowed;
    }
  }
}
