@for (selectedTicket of ticketSelected; track selectedTicket.event.id) {
<p>
  <strong>
    {{ selectedTicket.event.title }}
  </strong>
</p>
<div>
  <ul>
    @for(session of selectedTicket.sessions; track session) { @if(session.cart! > 0) {

    <li class="d-flex py-2 justify-content-between">
      <p>
        {{ session.date | date : "dd/MM/yy" }}
      </p>
      <p class="d-flex">
        x{{ session.cart }}
        <button (click)="removeItem(session)">
          <img
            src="../../../assets/img/trash.png"
            width="18px"
            alt="papelera"
          />
        </button>
      </p>
    </li>
    } }
  </ul>
</div>
}
