<div class="card__container"  [routerLink]="['/event-detail', eventos.id]">
  <div class="card__body">
    <div class="card__header p-2">
      <h4   class="card__title">{{ eventos.title | uppercase }}</h4>
      <p   class="card__subtitle">{{ eventos.subtitle }}</p>
    </div>

    <img   [src]="eventos.image" alt="" class="card__img">

    <div class="card__content">
      <div class="card__date-range d-flex pt-2 ps-2">
        <p class="card__start">{{ eventos.startDate | date:('dd/MM/yyyy') }}</p>
        <span class="mx-2"> - </span>
        <p class="card__end">{{ eventos.endDate | date:('dd/MM/yyyy') }}</p>
      </div>

      <p   class="card__description d-none d-md-flex px-2">{{ eventos.description }}</p>

    </div>
  </div>
  <div class="card__actions">
    @if (eventos.isAvailable) {
      <button class="card__button">
        Comprar
      </button>
    }
    @else {
      <p class="card__button-disabled m-0">
        No disponible
      </p>
    }
  </div>
</div>


